/* 广告区域 START */

.content {
    width: 980px;
    height: 455px;
    margin: 10px 0 0 220px;
}


/* 轮播图 */

.focus {
    position: relative;
    width: 721px;
    height: 455px;
}

.arrow-l,
.arrow-r {
    position: absolute;
    top: 50%;
    margin-top: -20px;
    width: 30px;
    height: 40px;
    background: rgba(0, 0, 0, .3);
    border-radius: 0 20px 20px 0;
    text-align: center;
    line-height: 40px;
    color: #fff;
    font-size: 20px;
}

.arrow-r {
    right: 0;
    border-radius: 20px 0 0 20px;
}

.circle {
    position: absolute;
    left: 50px;
    bottom: 15px;
    cursor: pointer;
}

.circle li {
    float: left;
    width: 8px;
    height: 8px;
    margin: 0 3px;
    border: 2px solid rgba(255, 255, 255, .3);
    border-radius: 50%;
}

.circle .current {
    background-color: #fff;
}

.recommend {
    height: 148px;
    margin-top: 11px;
}

.recomm-hd {
    width: 200px;
    height: 100%;
    background-color: #636e72;
    text-align: center;
}

.recomm-hd img {
    width: 57px;
    height: 57px;
    margin: 30px 0 10px;
}

.recomm-hd h3 {
    color: #fff;
    font-size: 18px;
    font-weight: 400;
}

.recomm-bd {
    width: 1000px;
}

.recomm-bd li {
    float: left;
    width: 248px;
    padding-left: 2px;
}


/* 新闻边栏 */

.news-aside {
    width: 250px;
    height: 455px;
}

.news {
    height: 154px;
    border: 1px solid #e4e4e4;
}

.news-hd {
    height: 32px;
    padding: 0 15px;
    border-bottom: 1px dashed #e4e4e4;
    font-size: 14px;
    line-height: 32px;
}

.news-hd a {
    float: right;
    font-size: 11px;
}

.news-bd {
    padding: 9px 0 0 15px;
}

.news-bd li {
    height: 22px;
    font-size: 13px;
}

.life-service {
    position: relative;
    overflow: hidden;
    height: 208px;
    border: 1px solid #e4e4e4;
    border-top: 0;
}

.life-service ul {
    width: 252px;
}

.life-service li {
    float: left;
    width: 62px;
    height: 70px;
    border-right: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
    font-size: 12px;
    text-align: center;
}

.life-service li a {
    display: block;
    /*解决i标签外边距塌陷的问题*/
    overflow: hidden;
    height: 100%;
}

.life-service .icon {
    display: block;
    width: 25px;
    height: 25px;
    margin: 13px auto 10px;
    background: url(../images/icons.png) no-repeat;
}

.icon.icon-yanchu {
    background-position: -62px 0;
}

.icon.icon.icon-lipinka {
    background-position: -62px -30px;
}

.icon.icon.icon-youhuiquan {
    background-position: -62px -60px;
}

.icon.icon.icon-vip {
    background-position: -62px -90px;
}

.icon.icon.icon-yingyuan {
    background-position: -62px -120px;
}

.icon.icon.icon-jiudian {
    background-position: -62px -150px;
}

.icon.icon.icon-jipiao {
    background-position: -62px -180px;
}

.icon.icon.icon-huochepiao {
    background-position: -62px -210px;
}

.icon.icon.icon-huafei {
    background-position: -62px -240px;
}

.icon.icon.icon-shuidian {
    background-position: -62px -270px;
}

.icon.icon.icon-jiayouka {
    background-position: -62px -300px;
}

.icon.icon.icon-licai {
    background-position: -62px -330px;
}

.life-service .reduce {
    position: absolute;
    top: 71px;
    right: 59px;
    width: 16px;
    height: 22px;
    background: url(../images/icons.png) no-repeat -99px -62px;
    font-size: 11px;
    text-align: center;
    color: #fff;
}

.activities {
    height: 87px;
    margin-top: 5px;
}


/* 楼层区 */

.box-hd {
    height: 30px;
    margin-top: 30px;
    border-bottom: 2px solid #0984e3;
}

.box-hd h3 {
    float: left;
    font-size: 18px;
    color: #0984e3;
}

.box-hd ul {
    float: right;
    line-height: 30px;
}

.box-hd li {
    float: left;
    font-size: 12px;
}

.box-hd li a {
    margin: 0 12px;
}

.box-bd {
    height: 360px;
}

.box-bd li {
    overflow: hidden;
    float: left;
    height: 360px;
    /* 可根据图片高度调整值 */
}

.box-bd .w209 {
    width: 209px;
    background-color: #f9f9f9;
}

.w209 li {
    width: 86px;
    height: 32px;
    margin-left: 10px;
    border-bottom: 1px solid #e4e4e4;
    font-size: 12px;
    line-height: 32px;
    text-align: center;
}

.w329 {
    position: relative;
    width: 329px;
}

.w329-circle {
    width: 54px;
    left: 50%;
    margin-left: -27px;
}

.circle.w329-circle li {
    height: 8px;
}

.w219 {
    width: 219px;
    border-right: 1px solid #ccc;
}

.w220 {
    width: 220px;
    border-right: 1px solid #ccc;
}

.floor-item {
    border-bottom: 1px solid #ccc;
}

.brand {
    height: 60px;
    padding: 12px 4px;
    margin-top: 20px;
    background-color: #f2f6f8;
}

.brand li {
    float: left;
    height: 100%;
    padding: 0 14px;
    border-right: 1px dashed #ccc;
    line-height: 60px;
}

.brand .last-brand {
    border-right: 0;
}

.box-bd img {
    transition: all .2s;
}

.box-bd img:hover {
    margin-left: 8px;
}


/* 电梯导航 */

.fixedtool {
    position: fixed;
    top: 100px;
    left: 50%;
    margin-left: -676px;
    width: 66px;
    background-color: #fff;
}

.fixedtool li {
    height: 32px;
    border-bottom: 1px solid #ccc;
    line-height: 32px;
    font-size: 12px;
    text-align: center;
    cursor: pointer;
}

.fixedtool .current {
    background-color: #74b9ff;
    color: #fff;
    border: 1px solid transparent;
}